*,
*::after,
*::before {
  @include box-sizing(border-box);
}

html {
  font-size: 0.625em;
}

html,
body {
  height: 100%;
}

body {
  background: $alabaster;
  font-family: 'montserrat', sans-serif;
  font-weight: 200;
  line-height: 1.45;
  padding: 0;
  margin: 0;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

.home {
  background-image: linear-gradient(-1deg, $portage 0%, $turquoise 100%);
  background-attachment: fixed;

  footer {
    margin-top: 50px;
  }
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

p {
  margin-bottom: 1.3em;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

small,
.font__small {
  font-size: 0.707em;
}

$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";

#{$a-tags} {
  color: $white;
  font-weight: 500;
  text-decoration: none;
}

#{$a-tags-hover} {
  color: $armadillo;
}

.navBar {
  display: flex;
  justify-content: center;
  padding: 25px 10px 20px;
}

.about {
  .navBarWrap {
    background-image: linear-gradient(-10deg, $portage 0%, $turquoise 100%);
    background-repeat: no-repeat;
  }

  .navBar {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 40px 10px 20px;
      height: 100px;
    }
  }

  .navBar__logo {
    img {
      width: 40%;
      margin-bottom: 25px;
    }

    @media (min-width: 992px) {
      text-align: left;
    }
  }

  .navBar__item {
    margin-right: 15px;
    margin-left: 15px;

    img {
      width: 6%;
    }
  }
}

.navBar__item {
  background: transparent;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-top: 5em;
  text-align: center;

  @media (min-width: 480px) {
    padding-top: 10em;
  }

  .heroTagline {
    h1 {
      font-size: 1.618em;
      text-align: center;
      color: $white;
      margin-top: 1.5em;
      margin-bottom: 2em;
      font-weight: 200;
    }
  }
}

.heroLogo {
  width: 25%;

  @media (min-width: 480px) {
    width: 15%;
  }

  @media (min-width: 768px) {
    width: 15%;
  }

  @media (min-width: 992px) {
    width: 12.5%;
  }

  @media (min-width: 1200px) {
    width: 10%;
  }
}

.heroBrand {
  h1 {
    font-family: 'rodinaregular', sans-serif;
    margin-top: 0.618em;
    font-size: 2em;
    color: $white;
  }
}

.hero__download {
  width: 50%;
  margin-bottom: 10px;

  @media (min-width: 480px) {
    width: 30%;
  }

  @media (min-width: 768px) {
    width: 25%;
    margin-bottom: 15px;
  }

  @media (min-width: 992px) {
    width: 20%;
  }

  @media (min-width: 1200px) {
    width: 15%;
  }
}

.aboutUs {
  max-width: 800px;
  background: $white;
  display: block;
  padding: 0 16px 20px;

  @media (min-width: 768px) {
    margin: 3.5em auto 1em;
    border: 1px solid $alto;
    background: $white;
    border-radius: 5px;
    padding: 0 50px 20px;
  }
}

.aboutUs__section {
  padding: 20px 0;
}

.aboutUs__tagline {
  color: $armadillo;
  font-weight: 400;
}

.aboutUs__details {
  color: $armadillo;
  font-size: 1.2em;

  a {
    color: $turquoise;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  @media (min-width: 992px) {
    justify-content: space-between;
  }
}

.footer__section {
  display: flex;
  align-items: center;
  text-align: center;

  span {
    font-weight: 200;
  }
}

.footer__item {
  padding: 5px 15px 20px;
  font-size: 0.717em;
  text-transform: uppercase;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 0.8em;
  }
}

.footerDownload {
  width: 50%;
}
