$turquoise: #4ad9d9;
$dull-cyan: #31c0c0;
$armadillo: #4a4a4a;
$alto: #dbdbdb;
$white: #fff;
$alabaster: #fafafa;
$red-orange: #f75347;
$portage: #819dee;

$xs-screen: 480px;
$sm-screen: 768px;
$md-screen: 992px;
$lg-screen: 1200px;

@mixin box-sizing($box-model) {
  box-sizing: $box-model;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin abs-pos($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

///@include breakpoint(large) { styles... }
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: $lg-screen) { @content; }
  }
  @else if $point == medium {
    @media (min-width: $md-screen) { @content; }
  }
  @else if $point == small {
    @media (min-width: $sm-screen)  { @content; }
  }
  @else if $point == xsmall {
    @media (min-width: $xs-screen)  { @content; }
  }
}
